/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@400;700&family=Poppins:wght@500;600;700&family=Shantell+Sans:wght@300&family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* Reset CSS Code */
* {
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
}
.btn {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 21px 40px;
  border-radius: 48px;
  border: 0;
}
/* navbar design starts here */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}
.logo-container {
  display: flex;
  align-items: center;
  width: 50%;
}
.logo-container .logo-text-color {
  color: #ff42a5;
}
.logo-container img {
  width: 86px;
  height: 40px;
  margin-right: 20px;
}
.logo-container p {
  font-size: 2.75rem;
  font-weight: 700;
  color: #0b0223;
}
.nav-menu {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  gap: 32px;
  align-items: center;
  color: #3c354f;
  font-size: 1rem;
}
.nav-menu a {
  text-decoration: none;
}
.fa-brands {
  padding: 0 12px;
  margin-left: 5px;
}
.nav-menu .fa-youtube {
  color: #f00044;
}
.nav-menu .fa-tiktok {
  background-image: linear-gradient(to right, #08fff9, #992548, #000000);
  color: transparent;
  -webkit-background-clip: text;
}
.menu-icon {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 20px 12px;
  width: 262px;
  height: 56px;
  text-align: center;
}
/* navbar design ends here */

/* banner design starts here */
.banner-container {
  display: flex;
  margin: 0 auto;
  gap: 20px;
  max-width: 1400px;
  background-color: #fff;
}
.banner-text-bg {
  background-image: url("../images/Group 14.png");
  width: 901px;
  height: 540px;
}
.banner-heading {
  color: #0b0223;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}
.banner-title {
  text-transform: uppercase;
  font-size: 5.75rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.banner-img {
  margin-right: 0;
}
.banner-img img {
  width: 600px;
  height: 540px;
}
.banner-icon {
  color: #534c64;
  text-transform: lowercase;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
  margin: 20px 0;
}
.icon-color {
  color: #ff42a5;
}
.sign-in {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
.go-rogue {
  background: #4ec5f7;
  margin-left: 15px;
}
/* banner design ends here */

/* online game design starts here */
.online-game-section{
  max-width: 1400px;
  margin: 0 auto;
}
.online-game-text-container {
  text-align: center;
}
.game-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
}
.funny-style {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}
.game-desc {
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  margin-top: 10px;
}
.item-desc {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 30px;
}
.online-game-items {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 48px;
  justify-items: center;
}
.item-img:hover {
  border-radius: 16px;
  
}
/* online game design ends here  */
