/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@400;700&family=Poppins:wght@500;600;700&family=Shantell+Sans:wght@300&family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* Reset CSS Code */
* {
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
}
/* navbar design starts here */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}
.logo-container {
  display: flex;
  align-items: center;
  width: 50%;
}
.logo-container .logo-text-color {
  color: #ff42a5;
}
.logo-container img {
  width: 86px;
  height: 40px;
  margin-right: 20px;
}
.logo-container p {
  font-size: 2.75rem;
  font-weight: 700;
  color: #0b0223;
}
.nav-menu {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  gap: 32px;
  align-items: center;
  color: #3c354f;
  font-size: 1rem;
}
.nav-menu a {
  text-decoration: none;
}
.fa-brands {
  padding: 0 12px;
  margin-left: 5px;
}
.nav-menu .fa-youtube {
  color: #f00044;
}
.nav-menu .fa-tiktok {
  color: #000000;
}
.menu-icon {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 20px 12px;
  width: 262px;
  height: 56px;
  text-align: center;
}
/* navbar design ends here */
